body {
    margin: 0;
    padding: 0;
    background: #f1e7da;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.player-container {
    background: #fff6e9;
    padding: 30px;
    width: 330px;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    text-align: center;
}

.album-cover img {
    width: 220px;
    height: 220px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

h2, h4 {
    margin: 10px 0;
    color: #5a4b3c;
}

.controls button {
    background: #d2b48c;
    border: none;
    padding: 12px 18px;
    font-size: 20px;
    border-radius: 12px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.controls button:hover {
    background: #c19a6b;
}

.volume-box {
    margin-top: 15px;
}

input[type="range"] {
    width: 80%;
}
